@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,600&display=swap');



/** global **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-style: italic;
  }
  
  body {
    height: 100vh;
    background-color: #F7F7F7;
  }
  
  button {
    cursor: pointer;
  }
  
  .container {
    width: 1140px;
    height: 100vh;
    margin: 0 auto;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
  }
  


/** header **/

.header {
    display: flex;
    justify-content: space-between;
    height: 70;
    font-weight: bold;
    color: #707070;
  }
  
  .header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-size: 48px;
    margin: 0;
    text-align: center;
    margin-top: 20px;
  }
  
  .header-line {
    height: 6px;
    width: 110px;
    border-radius: 3px;
    background-color: #B5C401;
  }
  
  .header-button-home {
    color: #707070;
    text-decoration: none;
    font-size: 20px;
    margin-left: 70px;
  }
  
  .header-left {
    display: flex;
    align-content: space-between;
    list-style: none;
    
  }
  
  .header-left  a {
    color: #707070;
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px; 
    line-height: 70px;
  }
  
  .header-icon {
    padding-left: 5px;
    vertical-align: middle;
  
  }

  .log-out-button {
    display: flex;
    justify-content: space-between;
  }
  
  
  .header {
    border-bottom: 2px solid #EBEBEB;
  }
  




/** apostas **/

  .bet-container {
    width: 780px;
    height: 100%;
    position: relative;
  }
  
  h2 {
  color: #707070;
  }
  
  .title-infor {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .title {
    display: flex;
    font-size: 18px;
    margin-top: 76px;
    margin-bottom: 30px;
  }
  

  
  .type {
    font-weight: 400;
  }
  
  .typeButton {
    display: flex;
  }
  
  .bet-button {
    width: 120px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 18px;
    margin-right: 10px;
    background-color: #FFFFFF;
  
    transition: filter 0.2s;
  }
  
  .bet-button:hover {
    filter: brightness(0.9);
  }
  
  .description {
    color: #868686;
    font-size: 18px;
  }
  
  .number {
    background-color: #ADC0C4;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 32px;
    margin-right: 4px;
    margin-bottom: 16px;
    width: 64px;
    height:64px;
  
    transition: filter 0.2s;
  }
  
  .number:hover {
    filter: brightness(0.9);
  }
  
  .numbers {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 40px 0;
  }
  
  .bet-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    background-color: transparent;
    color: #27C383;
    border: 2px solid #27C383;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    font-style: normal;
  
    transition: filter 0.2s;
  }
  
  .button:hover {
    filter: brightness(0.9);
  }
  
  .add-to-cart-button {
    background-color: #27C383;
    color: #FFFFFF;
    border: 2px solid #27C383;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 14px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
  
    transition: filter 0.2s;
  }
  
  .add-to-cart-button:hover {
    filter: brightness(0.9);
  }
  
  .add-to-cart-button img {
    margin-right: 16px;
  }

  

/** cart **/


.cart-container {
  width: 320px;
  height: 100%;
  margin-top: 58px;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  




  .cart-container h2 {
    margin: 20px 0 20px 14px;
    font-size: 24px;
  }
  
  .cart-container .value {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
  }
  
  .cart-container .value .value-cart {
    font-style: normal;
    font-weight: normal;
    margin-left: 14px;
  }
  
  .cart-container .value .total-value {
    font-style: normal;
    font-weight: normal;
    margin-left: 0;
  }
  .container-cart {
    background-color: #FFFFFF;
  }
  
  .save-button {
    width: 320px;
    height: 80px;
    border: none;
    font-size: 32px;
    font-weight: bold;
    color: #27C383;
    background-color:  #F4F4F4 0% 0% no-repeat padding-box;
  }
  
  
  .bet-card {
    margin: 0 auto;
    width: 300px;
    height: 70px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
  }
  
  .bet-card img {
    display: inline-block;
    width: 32px;
    margin: 8px;
    cursor: pointer;
  }
  
  .bet-cart-numbers {
    color: #868686;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;
  }
  
  .bet-price {
    color: #868686;
    font-style: normal;
  }
  
  .bet-name {
    font-weight: bold;
    margin-right: 20px;
  }
  
  .bet-interior {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
  }
  
  .bet-name-price {
    display: flex;
    justify-content: left;
  }
  
/** Footer **/

footer {
  display: flex;
  justify-content: center;

  height: 50px;
  width: 100%;

  margin-top: 110px;

  position: relative;

  border-top: 2px solid #EBEBEB;
}

footer span {
  font-size: 16px;
  font-style: normal;
  color: #707070;
  margin-top: 12px;
}
