@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,600&display=swap');

/** global **/
* {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-color: #F7F7F7;
  }
  
  button {
    cursor: pointer;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-container {
    position: absolute;
    z-index: 5;
    height: 100vh;
    width:100%;
    display: none;
    background-color: none;
    justify-content:center;
    align-items:center;
  }

  .modal-alert {
    height: 500px;
    width: 800px;
    border-radius:20px;
    background-color: #000;
  }

/** header **/
.header {
    height: 70;
    font-weight: bold;
    color: #707070;
    display: flex;
    justify-content: space-between;
  }
  
  .header-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    margin: 0;
    text-align: center;
    font-size: 48px;
    margin-top: 20px;
  }
  .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-line {
    width: 110px;
    border-radius: 3px;
    height: 6px;
    background-color: #B5C401;
  }
  
  .header-button-home {
    text-decoration: none;
    font-size: 20px;
    color: #707070;
    margin-left: 70px;
  }
  
  .header {
    border-bottom: 2px solid #EBEBEB;
  }
  
  .header-left  a {
    font-size: 20px;
    margin-left: 40px; 
    color: #707070;
    text-decoration: none;
    line-height: 70px;
  }
  
  .header-icon {
    padding-left: 5px;
    vertical-align: middle;
  
  }

/** apostas **/
  .lottery-container {
    height: 100%;
    width: 780px;
    position: relative;
  }
  
  h2 {
  color: #707070;
  }
  
  .title-infor {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .title {
    display: flex;
    font-size: 18px;
    margin-top: 76px;
    margin-bottom: 30px;
  }
  
  .type {
    font-weight: 400;
  }
  
  .typeButton {
    display: flex;
  }
  
  .lottery-buttons {
    width: 120px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 18px;
    margin-right: 10px;
    background-color: #FFFFFF;
  
    transition: filter 0.2s;
  }
  
  .lottery-buttons:hover {
    filter: brightness(0.9);
  }
  
  .description {
    color: #868686;
    font-size: 18px;
  }
  
  .number {
    border-radius: 32px;
    margin-right: 4px;
    margin-bottom: 16px;
    width: 64px;
    height:64px;
    background-color: #ADC0C4;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    border: none;
    transition: filter 0.2s;
  }
  
  .number:hover {
    filter: brightness(0.9);
  }
  
  .numbers {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 40px 0;
  }
  
  .lotteryButtons {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    background-color: transparent;
    color: #27C383;
    border: 2px solid #27C383;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    font-style: normal;
  
    transition: filter 0.2s;
  }
  
  .button:hover {
    filter: brightness(0.9);
  }
  
  .cartButton {
    background-color: #27C383;
    color: #FFFFFF;
    border: 2px solid #27C383;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 14px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
  
    transition: filter 0.2s;
  }
  
  .cartButton:hover {
    filter: brightness(0.9);
  }
  
  .cartButton img {
    margin-right: 16px;
  }

/** cart **/
.cart-container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  margin-top: 58px;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  justify-content: space-between;
}
  
  .cart-container h2 {   
    font-size: 24px;
    margin: 20px 0 20px 14px;
  }
  
  .cart-container .value {
    justify-content: left;
    margin: 0;
    display: flex;
    padding: 0;
  }
  
  .cart-container .value .value-cart {
    font-style: normal;
    font-weight: normal;
    margin-left: 14px;
  }
  
  .cart-container .value .totalCart {
    font-style: normal;
    font-weight: normal;
    margin-left: 0;
  }
  .container-cart {
    background-color: #FFFFFF;
  }
  
  .saveButton {
    width: 320px;
    height: 80px;
    border: none;
    font-size: 32px;
    font-weight: bold;
    color: #27C383;
    background-color:  #F4F4F4 0% 0% no-repeat padding-box;
  }
  
  
  .lotteryCard {
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 300px;
    height: 70px;
    margin-top: 30px;
    border-radius: 10px;
  
  }
  
  .lotteryCard img {
    display: inline-block;
    width: 32px;
    margin: 8px;
    cursor: pointer;
  }
  
  .textNumbers {
    color: #868686;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;
  }
  
  .textPrice {
    color: #868686;
    font-style: normal;
  }
  
  .textName {
    font-weight: bold;
    margin-right: 20px;
  }
  
  .backgroundNumber {
    justify-content: center;
    padding: 0 10px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .containerPrice {
    display: flex;
    justify-content: left;
  }
  
/** Footer **/
footer {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 110px;
  position: relative;
  border-top: 2px solid #EBEBEB;

}

footer span {
  font-style: normal;
  color: #707070;
  font-size: 16px;
  margin-top: 12px;
}
